---
interface Props {
  heading: string
  headingClass?: string
}

const { heading, headingClass = '' } = Astro.props
---

<section>
  <h3 class={`mb-4 ${headingClass}`}>{heading}</h3>
  <slot />
</section>
